<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Samiyura"
        tools:targetApi="31">

        <!-- Welcome Activity - First screen users see (splash screen) -->
        <activity
            android:name=".WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Language Selection Activity - Choose preferred language for the app -->
        <activity
            android:name=".LanguageSelectionActivity"
            android:exported="false" />

        <!-- Story Activity - Introduction story and adventure setup -->
        <activity
            android:name=".StoryActivity"
            android:exported="false" />

        <!-- Naming Ceremony Activity - Name your plant buddies -->
        <activity
            android:name=".NamingCeremonyActivity"
            android:exported="false" />

        <!-- Main Activity - Core plant care and interaction hub -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <!-- Settings Activity - App configuration and preferences -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

    </application>

</manifest>